#Banner {
    background-color: var(--bg3);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: var(--h);
    width: 100%;
    color: white;
    padding-top: 60px;

    .banner-container {
        height: 100%;
        width: 85%;
        margin: 0px auto;
        display: grid;
        grid-template-columns: 1fr 1fr;

        .banner-left {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .banner-left-content {
                .banner-title {
                    margin-bottom: 15px;

                    h1 {
                        font-size: 100px;
                        font-weight: 600;
                        font-family: 'Montserrat', sans-serif;
                        color: #ffffff;
                        text-transform: capitalize;
                        margin: 0 0 2px;

                        span {
                            color: #009E66;
                            font-family: sans-serif;
                        }
                    }

                    h3 {
                        margin-top: 50px;
                        font-size: 40px;
                        color: #fff;
                        font-weight: 600;
                        text-transform: capitalize;
                        font-family: 'Montserrat', sans-serif;
                        position: relative;
                    }
                }

                .banner_btns {
                    margin-top: 20px;
                    .download_cv {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 10px;
                        width: 250px;
                        text-decoration: none !important;
                        background: #009e66;
                        color: #fff;
                        padding: 15px 40px;
                        font-size: 16px;
                        font-weight: 500;
                        transition: .5s;
                        border: 1px solid #009e66;
                        font-family: 'Montserrat', sans-serif;
                    }
                }
            }
        }
        
        .banner-right {
            display: flex;
            align-items: center;
            justify-content: center;

            .banner-right-img {
                img {
                    width: 500px;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    // Media queries pour la version responsive

    @media only screen and (max-width: 1200px) {
        .banner-container {
            width: 90%;

            .banner-left .banner-left-content .banner-title h1 {
                font-size: 80px;
            }

            .banner-left .banner-left-content .banner-title h3 {
                font-size: 35px;
            }

            .banner-right .banner-right-img img {
                width: 400px;
            }
        }
    }

    @media only screen and (max-width: 992px) {
        .banner-container {
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            margin-top: 50px;

            .banner-left {
                margin-bottom: 30px;

                .banner-left-content {
                    .banner-title h1 {
                        font-size: 60px;
                    }

                    .banner-title h3 {
                        font-size: 30px;
                    }
                    .banner_btns{
                        
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .download_cv {
                           width: 200px;
                           padding: 10px 30px;
                       }
                    }
                }
            }

            .banner-right .banner-right-img  {
                width: 300px;
                height: 300px;
                background: url("../../assets/Shooting\ studio\ \ \(9\).jpg");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                border-radius: 50%;
                border: 6px solid var(--theme);

                img{
                    display: none;
                    // width: 350px;
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .banner-container {
            width: 100%;

            .banner-left .banner-left-content .banner-title h1 {
                font-size: 50px;
            }

            .banner-left .banner-left-content .banner-title h3 {
                font-size: 25px;
            }

            .banner-right .banner-right-img img {
                width: 300px;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        height: auto;

        .banner-container {
            .banner-left .banner-left-content .banner-title h1 {
                font-size: 40px;
            }

            .banner-left .banner-left-content .banner-title h3 {
                font-size: 20px;
            }

            .banner_btns .download_cv {
                width: 180px;
                padding: 8px 20px;
            }

            .banner-right .banner-right-img img {
                width: 250px;
            }
        }
    }
}
