#Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    /* Style pour quand l'utilisateur a scrollé */
    .scrolled {
        background-color: var(--header);
        color: #fff;
    }

    .scrolled_p {
        background-color: var(--Warning);
        color: #fff;
    }

    .header-container {
        width: 85%;
        margin: 0 auto;

        .header {
            padding: 20px;
            background-color: transparent;
            color: white;
            text-align: center;
            transition: background-color 0.3s ease;
        }

        #header-content {
            display: flex;
            align-items: center;
            gap: 20px;
            justify-content: space-between;

            .header-left {
                display: flex;
                align-items: center;
                gap: 60px;

                .link {
                    display: inline-block;
                    font-size: 16px;
                    color: #fff;
                    font-weight: 500;
                    font-family: 'Montserrat', sans-serif;
                    text-transform: capitalize;
                    text-decoration: none;
                    transition: 0.5s;
                    padding: 5px 6px;

                    &:hover {
                        color: var(--theme);
                    }
                }
            }

            .header-right {
                // styles pour header-right
            }
        }
    }

    // Media queries pour rendre le header responsive
    @media only screen and (max-width: 992px) {
        .header-container {
            width: 90%;
        }

        #header-content {
            gap: 10px;

            .header-left {
                gap: 40px;

                .link {
                    font-size: 14px;
                }
            }
        }
    }
    
    
}

    @media only screen and (max-width: 768px) {
        #Header{
            display: none;
        }

       
    }
