#Project{
    height: var(--h);
    width: 100%;
    /* background-color: var(--secondary1); */
    /* background-color: #011C27; */
    background-color: #181622; /* La couleur de fond par défaut */
    background-image: url("../../assets/wave4.svg"); /* L'image de fond */
    background-position: center; /* Positionne l'image au centre */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la bannière */
    background-repeat: no-repeat;
}
.project-container{
    width: 85%;
    margin: 0px auto;
    padding-top: 50px;
}
.project-tilte{
    padding-bottom: 50px ;
    display: grid;
    grid-template-columns: 300px 1fr;
    align-items: center;
    gap: 60px;
}
.project-line{
    background-color: var(--theme);
    height: 5px;
}
.project-content{
    display: flex;
    align-items: center;
    gap: 25px;
}
.project-cards{
    /* border: 2px solid red; */
    position: relative;
    /* width: 310px; */
}
.project-card-img img{
 width: 100%;
 height: 200px;
 object-fit: cover;
}
.project-card-content h4{
    margin-top: 5px;
}
.project-card-content a{
    text-decoration: none;
    color: var(--theme);
    font-size: 19px;
    font-weight: 550;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--theme);
    width: 120px;
    margin-top: 10px;
    padding: 8px 20px;
    transition: .4s;
    border: 2px solid transparent;

}
.project-card-content a:hover{
    border: 2px solid var(--theme);
    background-color: transparent !important;;
}
.project-card-content button{
    background-color: transparent !important;
    border: none !important;
    color: white;
    font-weight: bold;
}
