#Skills{
    min-height: var(--h);
    width: 100%;
    /* background: #011C27; */
    /* background: #011C27; */
    background-color: #181622; /* La couleur de fond par défaut */
    background-image: url("../../assets/wave4.svg"); /* L'image de fond */
    background-position: center; /* Positionne l'image au centre */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la bannière */
    background-repeat: no-repeat;
}
.skill-container{
    width: 85%;
    margin: 0px auto;
    padding-top: 70px;
}
.skill-title{
    
    margin-bottom: 60px;
}
.skill-title h1{
    text-align: center;
    font-size: 35px;
}
.skill-all{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    gap: 25px;
}
.skills-cards{
    background-color: #2e2e2ed4;
    overflow: hidden;
    flex: 1 1 calc(15% - 20px);    
    border-radius: 8px;
    transition: .4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 12px;
}
.skills-cards:hover{
    background-color: var(--theme);
}
.skills-card-img{
    text-align: center;
}
.skills-card-img img{
    width: 75px;
    height: 75px;
}
.skills-card-content{
    text-align: center;

}
.skills-card-content h4{
    color: white;
}