:root {
  /* --theme: #66BB6A; */
  --theme:#009e66;
  /* --bg1: #181622; */
  --bg: #03254E;
  --white: #fff;
  --dark: #0d0d0d;
  --grey: #424242;
  --yellow: yellow;
  --blue: #007aff;
  --sectionbg: #191970;
  --secondary-color: #2c2c80;
  --text-color: #b0aac0;
  --meta-text-color: #9b9db1;
  --e-global-color-secondary: #54595f;
  --banner: #002233;
  --h: 100vh;
  --secondary1:#03254E;
  --primary:#011C27;
  --Secondary:#4A6572;
  --Danger:#E53935 ;
  --Info:#29B6F6;
  --Success:#66BB6A;
  --Warning:#FFA726 ;
  --Light:#F5F5F5 ;
  --Dark:#002B36 ;
  --color:#29a587;

  --header:#000000;
  --bg1: #070707;
  --bg2:#161616;
  --bg3:#101010;
  --card:#212121;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: sans-serif;
  color: #555;
  font-family: 'Poppins';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 28px;

}


.download,
.hire_me {
  padding: 10px 20px;
  font-size: 18px;
}

.hire_me {
  border: 3px solid var(--theme);
  /* border-radius: 10px; */
  background-color: var(--theme);
  transition: .5s;
}

.hire_me:hover {
  border-radius: 10px;
  border: 3px solid var(--theme);
  background-color: var(--dark);
  color: white;
}

.download {
  /* border-radius: 10px; */
  border: 3px solid var(--theme);
  background-color: var(--dark);
  color: white;
  transition: .5s;

}

.download:hover {
  border: 3px solid var(--theme);
  border-radius: 10px;
  background-color: var(--theme);
  color: var(--dark);
  transition: .5s;
}

.download_cv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 250px;
  text-decoration: none !important;;
  
  background: #009e66;
  color: #fff;
  padding: 15px 40px;
  font-size: 16px;
  font-weight: 500;
  transition: .5s;
  border: 1px solid #009e66;
  font-family: 'Montserrat', sans-serif;
}
ul{
  list-style: None;
}
a{
  text-decoration: none;
}